img.thumb  {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

img.big-thumb  {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}